<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div>HW27-js-nodejs-part2</div>

<div>
  <br>
  1. Создайте на вашем github репозиторий с именем HW27-js-nodejs-part2. <br>
  2. Все результаты нужно запушить в ваш репозиторий и прикрепить ссылку на hillel портале.<br>
  3. Сгенерируйте express приложение. Обратите внимание что нужно установить npm пакеты после генерации проекта.<br>
  4. Добавить две миделвары:<br>
  4.1 Первая миделвара должна обрабатывать путь ‘/home’. Возвращать Home. Если не /home то переходим к другой миделваре.<br>
  4.2 Миделвара должна обрабатывать путь ‘/forbidden’. При переходе на http://localhost:3000/forbidden?secret=true нужно вернуть Access approved, в противном случае Access denied. подсказака. Нужно использовать модуль url.<br>
  
<br>
</div>
  </body>
</html>
